page-home {
  h2 {
    font-family: Neucha, serif;
  }
  h4 {
    font-family: 'Bad Script', serif;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .breaker {
    display: block;
    height: 2vh;
  }
}
